.postIndexTitle {
  margin: auto 0 0;
}
.postIndexTitle a {
  font-size: 1rem;
  color: inherit;
  font-weight: 400;
}
@media (max-width: 600px) {
  .postIndexTitle a {
    font-size: 0.9rem;
  }
}

.postTitle {
  margin-top: auto;
  font-size: 1.6rem;
  color: var(--fg);
}
@media (max-width: 600px) {
  .postTitle {
    font-size: 1.2rem;
  }
}
.postTitle a {
  font-size: 1rem;
  color: inherit;
  font-weight: 400;
}
@media (max-width: 600px) {
  .postTitle a {
    font-size: 0.9rem;
  }
}

.postTags {
  padding: 0 0 0.2rem;
  font-size: 0.9rem;
}
.postTags a {
  width: max-content;
  margin-top: auto;
  margin-left: auto;
  color: var(--fg);
}
.postTags :global(a):before {
  content: '⚑ ';
}

.postDate {
  width: max-content;
  margin-top: auto;
  margin-left: auto;
  font-size: 0.8rem;
}

.postBody {
  padding: 0.5rem 0;
}

.nextPageLink {
  color: var(--fg);
}
.nextPageLink a {
  display: block;
  width: 30%;
  margin: 0 auto;
  border: 1px solid var(--accents-2);
  color: inherit;
  font-size: 0.85rem;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 600px) {
  .nextPageLink a {
    width: 50%;
  }
}

.noContents {
}

.blogTagLink {
}
.blogTagLink a {
  font-weight: 500;
  color: #333;
}
.blogTagLink ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.blogTagLink ul li {
  position: relative;
  font-size: 1rem;
  padding: 0.4rem 0;
  padding-left: 0.7rem;
  line-height: 1.2rem;
}
.blogTagLink p {
  margin: 0;
}

.postsNotFound {
}

@media (max-width: 600px) {
  .tag {
    font-size: 0.75rem;
    padding-right: 0.75rem;
  }

  .post a.expandButton {
    width: 50%;
  }

  .post .caption {
    font-size: 0.9rem;
  }

  .nextContainer {
    padding: 0;
  }
  .nextContainer a.nextButton {
    width: 50%;
  }
}
