.footer {
  margin: 40px 0 10px;
  clear: both;
  text-align: center;
  font-size: 0.75rem;
}
@media (max-width: 600px) {
  .footer {
    margin-left: 0;
  }
}
.footer span {
  color: #777;
}
.footer a {
  font-weight: 600;
  color: rgb(82, 82, 82);
}
